*.swp
.*.swp

.DS_Store
*~
.project
.settings
npm-debug.log
coverage.html
.idea
lib-cov

secrets.json

log/*

node_modules/jake
node_modules/.bin/jake
node_modules/.bin/lessc
node_modules/less
node_modules/grunt*

public/css/*
test/bin/selenium-server-standalone-2.37.0.jar
