<div class="span4">
  <a id="vote-for-link" data-type="<%- params.type %>" data-id="<%- params.id %>" href="javascript:">&hearts; vote</a>
  <div id="thanks-voted" class="hidden">Thanks for your vote!</div>
</div>
