<div class="col-md-4">
  <form id="form-karma" action="/karmas/" method="POST">
    <button id="vote-for-link" type="submit" class="btn btn-primary btn-lg btn-block">&hearts; vote</button>
    <input type="hidden" name="type" value="<%= params.type %>" />
    <input type="hidden" name="<%= params.type %>_id" value="<%= params.id %>" />
  </form>
</div>
