<form role="form" id="interest-form" class="form-horizontal" action="/interests" method="POST">
  <fieldset>
    <legend>Submit a new Interest</legend>
    <% if(params.errors) { %>
    <div class="form-group">
      <ul>
      <% for(var err in params.errors) { %>
        <li><%= params.errors[err]; %></li>
      <% } %>
      </ul>
    </div>
    <% } %>

    <%- partial('form', {interest: {}, recaptcha: recaptcha}) %>
  </fieldset>
</form>
