<div class="hero-unit">
  <h2>All Interests</h2>
  <%- linkTo('Create a new Contrib', addContribPath, {class: 'btn pull-right'}); %>
</div>

<div id="contribs-list">
<% if (interests) { %>
<% for (var i = 0, ii = interests.length; i < ii; i++) { %>
  <div class="row list-item" id="interest-<%= interests[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(interests[i].title, interestPath(interests[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= interests[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>
