<div class="col-md-6">
  <h2>Contribs</h2>
  <% if (contribs) { %>
  <% for (var i = 0, ii = contribs.length; i < ii; i++) { %>
    <div class="">
      <h3><%- linkTo(contribs[i].title, contribPath(contribs[i].id)); %></h3>
    </div>
  <% } %>
  <% } %>
</div>

<div class="col-md-6">
  <h2>Interests</h2>
  <% if (interests) { %>
  <% for (var i = 0, ii = interests.length; i < ii; i++) { %>
    <div class="">
      <h3><%- linkTo(interests[i].title, interestPath(interests[i].id)); %></h3>
    </div>
  <% } %>
  <% } %>
</div>
