<div class="control-group">
  <label for="title" class="control-label">Title</label>
  <div class="controls">
    <%- contentTag('input', contrib.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="contributor" class="control-label">Your Name</label>
  <div class="controls">
    <%- contentTag('input', contrib.contributor, {type:'text', class:'span6', name:'contributor'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">Description</label>
  <div class="controls">
    <%- contentTag('textarea', contrib.description, {class: 'span6', name: 'description', rows: 10}) %>
  </div>
</div>
