// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core
@import "bootstrap/scaffolding.less";
@import "bootstrap/forms.less";
@import "bootstrap/type.less";
@import "bootstrap/grid.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/navbar.less";
@import "bootstrap/navs.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/alerts.less";
@import "bootstrap/close.less";



// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";


@white: #fff;
@brand-primary: #8f1332;
@brand: #92137F;

@import "fontello.less";

.icon {
  font-size: 25px;
  &:hover { text-decoration: none; }
}

body.application {
  padding-top: 60px;
  padding-bottom: 40px;
}
code {
  white-space: pre;
}

.navbar-fixed-top {
  box-shadow: 0px 0px 3px #000;
  border-bottom: 1px solid #999;
}

.list-item {
  margin-bottom: 20px;
}

.list-item div {
  background: white;
}

.list-item div h3 i {
  margin: 5px;
}

.hidden {
  display: none;
}

/* recaptcha fix */
iframe {
  display:none !important;
}

.vote-responses-link {
  font-size: 20px;
}

.pad-top-10 {
  padding-top: 10px;
}

html,
body {
  margin-bottom: 0px;
  height: 100%;
  padding-bottom: 0px;
}

.wrapper {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
  width: 100%;
}

.menu {
  padding: 10px 0;
  margin-bottom: 30px;
  background: @brand-primary;
  font-size: 18px;
  line-height: 1.6;
  color: @white;
  a {
    color: @white;
    text-transform: uppercase;
    margin: 0 0.2em;
    padding: 0 0.3em;
  }
  ul, li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding-left: 0px;
  }
}

header.site {
  background: url('/img/header.jpg') no-repeat scroll center center / cover;
  border-bottom: 1px solid @brand;
  padding-bottom: 20px;
  padding-top: 20px;
}

.content {
  padding-bottom: 70px;
}

.footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: @brand-primary;
  color: @white;
  ul, li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
  }
  li+li {
    margin-left: 15px;
  }
  li {
    padding-top: 20px;
    margin-left: 0px;
    a {
      color: @white;
      &:hover { text-decoration: none; }
    }
  }
  .pull-right {
    padding-right: 5%;
  }
  .pull-left {
    padding-left: 5%;
  }
}



.c {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 0 40px;
  -webkit-perspective: 1200px;
     -moz-perspective: 1200px;
       -o-perspective: 1200px;
          perspective: 1200px;
}

#logo {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

#logo figure {
  display: block;
  position: absolute;
  line-height: 196px;
  font-size: 90px;
  text-align: center;
  font-weight: bold;
  color: white;
  border: 1px solid @white;

}

#logo .front,
#logo .back {
  width: 150px;
  height: 150px;
}

#logo .top,
#logo .bottom {
  width: 150px;
  height: 150px;
  top: 0px;
  line-height: 96px;
}

#logo .front  { background: url('/img/logo-150.png'); }
#logo .back   { background: url('/img/logo-150.png'); }
#logo .top    { background: url('/img/logo-150.png'); }
#logo .bottom { background: url('/img/logo-150.png'); }

#logo .front  {
  -webkit-transform: translateZ( 75px );
     -moz-transform: translateZ( 75px );
       -o-transform: translateZ( 75px );
          transform: translateZ( 75px );
}
#logo .back   {
  -webkit-transform: rotateX( -180deg ) translateZ(  75px );
     -moz-transform: rotateX( -180deg ) translateZ(  75px );
       -o-transform: rotateX( -180deg ) translateZ(  75px );
          transform: rotateX( -180deg ) translateZ(  75px );
}
#logo .top {
  -webkit-transform: rotateX(   90deg ) translateZ( 75px );
     -moz-transform: rotateX(   90deg ) translateZ( 75px );
       -o-transform: rotateX(   90deg ) translateZ( 75px );
          transform: rotateX(   90deg ) translateZ( 75px );
}
#logo .bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( 75px );
     -moz-transform: rotateX(  -90deg ) translateZ( 75px );
       -o-transform: rotateX(  -90deg ) translateZ( 75px );
          transform: rotateX(  -90deg ) translateZ( 75px );
}
#logo.show-front {
  -webkit-transform: translateZ(  -75px );
     -moz-transform: translateZ(  -75px );
       -o-transform: translateZ(  -75px );
          transform: translateZ(  -75px );
}
#logo.show-back {
  -webkit-transform: translateZ( -75px ) rotateX( -180deg );
     -moz-transform: translateZ( -75px ) rotateX( -180deg );
       -o-transform: translateZ( -75px ) rotateX( -180deg );
          transform: translateZ( -75px ) rotateX( -180deg );
}
#logo.show-top {
  -webkit-transform: translateZ( -75px ) rotateX(  -90deg );
     -moz-transform: translateZ( -75px ) rotateX(  -90deg );
       -o-transform: translateZ( -75px ) rotateX(  -90deg );
          transform: translateZ( -75px ) rotateX(  -90deg );
}
#logo.show-bottom {
  -webkit-transform: translateZ( -75px ) rotateX(   90deg );
     -moz-transform: translateZ( -75px ) rotateX(   90deg );
       -o-transform: translateZ( -75px ) rotateX(   90deg );
          transform: translateZ( -75px ) rotateX(   90deg );
}
