// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core
@import "bootstrap/scaffolding.less";
@import "bootstrap/forms.less";
@import "bootstrap/type.less";
@import "bootstrap/grid.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/navbar.less";
@import "bootstrap/navs.less";
@import "bootstrap/dropdowns.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";


@white: #fff;
@brand-primary: #8f1332;

body.application {
  padding-top: 60px;
  padding-bottom: 40px;
}
code {
  white-space: pre;
}

.navbar-fixed-top {
  box-shadow: 0px 0px 3px #000;
  border-bottom: 1px solid #999;
}

.list-item {
  margin-bottom: 20px;
}

.list-item div {
  background: white;
}

.list-item div h3 i {
  margin: 5px;
}


.hidden {
  display: none;
}

#vote-for-link {
  font-size: 36px;
}

@import "fontello.less";

.icon {
  &:hover { text-decoration: none; }
}
